<div class="container">
  <div class="row">
    <div class="col-md-4">
     <h2>User info</h2>
  <thead>
    <%= image_tag @user.get_profile_image(100,100), alt: "no_image.jpg" %>
  </thead>
  
<table class="table table-hover">
  <tbody>
    <tr>
    <th>Name</th>
    <th><%= @user.name %></th>
    </tr>
    <tr>
    <th>Introduction</th>
    <th><%= @user.introduction %></th>
    </tr>
   
  </tbody>
  </table>
  <% if @user_id == current_user.id %>
  <p class="text-center"><%= link_to edit_user_path(current_user) do %>
  <i class="fas fa-user-cog text-dark"></i>
  <% end %>
  <% else %>
  <p class="text-center"><%= link_to books_path do %>
  <i class="fas fa-user-cog text-dark"></i>
<% end %>
<% end %>
</p>
  
  
  
  
     <%= render 'books/create', book: @book %>
    </div>
<div class="col-md-8">
<h2>Users</h2>
<table class="table table-hover">

 <thread>
  <th>image</th>
  <th>name</th>
  <th></th>
 </thread>
<% @users.each do |user| %>
<tr>
  <td><%= image_tag user.get_profile_image(100,100) %></td>
  <td><%= user.name %></td>
  <td><%= link_to 'Show', user_path(user.id) %></td>
  </tr>
<% end %>

</table>
</div>
</div>
</div>